@use 'tokens' as tokens;

:host {
  display: flex;
  flex-direction: column;
  // padding: 64px 0;
  padding-top: 32px;
  padding-bottom: 64px;
}

mat-nav-list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 8px;
}
