<span class="label-l">Trending</span>

<h2 class="display-m">Recommended songs</h2>

<mat-nav-list *ngIf="songs()">
  <mat-list-item
    *ngFor="let song of songs()"
    (click)="handleSongClick(song)"
  >
    <img
      [src]="song.pictureUrl"
      alt=""
      matListItemAvatar
      matListItemLeadingImage
    />
    <div matListItemTitle>{{ song.name }}</div>
    <div matListItemLine>{{ song.artist.name }}</div>
    <div matListItemMeta>{{ song.duration | duration }}</div>
  </mat-list-item>
</mat-nav-list>

<mat-nav-list *ngIf="loading()"> Loading... </mat-nav-list>
