@use 'tokens' as tokens;

:host {
  display: flex;
  flex-direction: column;
  // padding: 64px 0;
  padding-top: 32px;
  padding-bottom: 64px;
}

mat-nav-list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 8px;
}

mat-list-item {
  mat-icon {
    display: none;
  }

  &.activated {
    --mdc-list-list-item-container-color: #{tokens.$color-surface-container-highest};

    img {
      opacity: 0.2;
    }
  
    mat-icon {
      position: absolute;
      width: 32px;
      height: 32px;
      font-size: 32px;
      z-index: 2;
      display: inherit;
      margin: 20px 28px;
    }
  }
}
