<span class="label-l">Trending</span>

<h2 class="display-m">Recommended songs</h2>

<ng-container *ngIf="loading(); else content"> Loading... </ng-container>

<ng-template #content>
  <mat-nav-list>
    <mat-list-item
      *ngFor="let song of songs()"
      [ngClass]="{ activated: song.id === currentSongId() }"
      (click)="handleSongClick(song)"
    >
      <mat-icon matListItemIcon>volume_up</mat-icon>

      <img
        [ngSrc]="song.pictureUrl"
        alt=""
        height="56"
        matListItemAvatar
        matListItemLeadingImage
        width="56"
      />

      <div matListItemTitle>{{ song.name }}</div>

      <div matListItemLine>{{ song.artist.name }}</div>

      <div matListItemMeta>{{ song.duration | duration }}</div>
    </mat-list-item>
  </mat-nav-list>
</ng-template>
