<button
  class="submit-button"
  mat-stroked-button
  (click)="handleAddSong()"
>
  <mat-icon>add</mat-icon>
  Add song
</button>

<mat-nav-list>
  <ng-container *ngFor="let song of songs()">
    <gachi-song-list-item
      [song]="song"
      (handleSongClick)="handleSongClick($event)"
    />
  </ng-container>
</mat-nav-list>

<mat-paginator
  *ngIf="isFirstLoadComplete()"
  [length]="itemCount()"
  [pageIndex]="page()"
  [pageSize]="take()"
  [pageSizeOptions]="[5, 10, 25, 50]"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
