@use 'tokens' as tokens;

$height: 64px;

:host {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: $height;
  border-radius: calc($height / 2);
  background-color: tokens.$color-surface-container;
  box-shadow: tokens.$elevation-2;
}