@use 'tokens' as tokens;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 320px;
  font-weight: 500;
  line-height: 1;
  font-family: tokens.$typography-font-family-variant;
  color: tokens.$color-surface-container-high;
  margin-bottom: 32px;
}

.circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(tokens.$color-surface-container-high, 0.7), rgba(tokens.$color-surface-container-high, 0.7)), url(/assets/img/oh-shit.jpg);
  background-position: center;
  background-size: cover;
}

h2 {
  color: tokens.$color-on-surface;
  margin-bottom: 8px;
}

button {
  margin-top: 16px;
}

