<h1 class="headline-l">Sign in to Gachify</h1>

<div
  *ngIf="isInvalidCredentials$ | async"
  class="invalid-credentials-banner"
>
  Sorry, couldn’t find an account matching the username and password you entered. Please try again.
</div>

<form
  [formGroup]="form"
  autocomplete="off"
>
  <fieldset>
    <mat-label>Email</mat-label>

    <mat-form-field>
      <input
        formControlName="email"
        matInput
        type="text"
      />

      <mat-icon
        *ngIf="form.controls.email.errors && form.controls.email.touched"
        color="error"
        matSuffix
      >
        error
      </mat-icon>

      <mat-error
        [control]="form.controls.email"
        [valid]="form.controls.email.valid"
        fieldName="Email"
        validationError
      ></mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <mat-label>Password</mat-label>

    <mat-form-field>
      <input
        formControlName="password"
        matInput
        type="password"
      />

      <mat-icon
        *ngIf="form.controls.password.errors && form.controls.password.touched"
        color="error"
        matSuffix
      >
        error
      </mat-icon>

      <mat-error
        [control]="form.controls.password"
        [valid]="form.controls.password.valid"
        fieldName="Password"
        validationError
      ></mat-error>
    </mat-form-field>
  </fieldset>

  <button
    [disabled]="isLoading$ | async"
    class="submit-button"
    mat-flat-button
    (click)="handleSubmit()"
  >
    Sign In
  </button>
</form>

<p class="link">Don't have an account? <a routerLink="/registration">Sign up</a></p>
