@use 'abstracts' as abstracts;

:host {
  height: 100%;
  display: flex;
  gap: 100px;

  @include abstracts.md {
    justify-content: center;
  }
}

.gachi-login-sidebar {
  width: 460px;

  @include abstracts.md {
    display: none;
  }
}

.gachi-login-sidebar-video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.gachi-login-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 416px;
}

h1 {
  margin-bottom: 24px;
}

form {
  padding-top: 24px;
}

fieldset {
  margin-bottom: 24px;
}

.gachi-login-content-submit-button {
  width: 100%;
  justify-content: center;
  margin-top: 28px;
}

p {
  text-align: center;
  margin-top: 20px;
}
