@use 'tokens' as tokens;

:host {
  min-width: 0px;
}

mat-list-item {
  gachi-play-button {
    display: none;
  }

  &.activated {
    --mdc-list-list-item-container-color: #{tokens.$color-primary-container};
    --mdc-list-list-item-label-text-color: #{tokens.$color-on-primary-container};

    img {
      opacity: 0.3;
    }
  
    gachi-play-button {
      position: absolute;
      z-index: 2;
      display: inherit;
      margin: 0;
      margin-top: 12px;
      margin-left: 20px;
    }
  }

  .menu-button {
    display: none !important;
    margin-top: 12px !important;
  }

  &:hover {
    .duration {
      display: none;
    }

    .menu-button {
      display: flex !important;
    }
  }
}
