<mat-list-item
  [ngClass]="{ activated: isCurrentSong() }"
  (click)="handleSongClick.emit(song)"
>
  <gachi-play-button
    [status]="status()"
    matListItemIcon
  />
  <!-- <mat-icon matListItemIcon>{{ icon() }}</mat-icon> -->

  <img
    [ngSrc]="imageUrl"
    alt=""
    height="56"
    matListItemAvatar
    matListItemLeadingImage
    width="56"
  />

  <div matListItemTitle>{{ song.title }}</div>

  <div matListItemLine>{{ song.artist.name }}</div>

  <div
    class="duration"
    matListItemMeta
  >
    {{ song.duration | duration }}
  </div>

  <button
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="menu"
    class="menu-button"
    mat-icon-button
    matListItemMeta
    (click)="openMenu($event)"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="handleAddToPlaylist()"
    >
      <mat-icon>playlist_add</mat-icon>
      <span>Add to playlist</span>
    </button>
  </mat-menu>
</mat-list-item>
