@use 'tokens' as tokens;
@use 'mixins' as mixins;

:host {
  height: 72px;
  padding: 8px 24px;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 32px 56px 2fr 3fr minmax(80px, 1fr);
  border-top: 1px solid tokens.$color-outline-variant;

  &:hover {
    border-top-color: transparent;
    border-radius: tokens.$corner-medium;
    background-color: rgba(tokens.$color-on-surface, 0.08);

    mat-icon {
      display: inherit;
    }

    .index {
      display: none;
    }
  }
}

:host(.active) {
  border-top-color: transparent;
  border-radius: tokens.$corner-medium;
  color: tokens.$color-on-primary-fixed;
  background-color: tokens.$color-primary-fixed-dim;
  box-shadow: tokens.$elevation-1;

  mat-icon {
    display: inherit;
  }

  .index {
    display: none;
  }
}

mat-icon {
  display: none;
  justify-self: center;
}

img {
  object-fit: cover;
}

.index {
  text-align: center;
}

.name {
  @include mixins.truncate;
  font-weight: 500;
}

.artist {
  @include mixins.truncate;
}

.duration {
  display: flex;
  justify-content: flex-end;
}
 