@use 'tokens' as tokens;

:host {
  min-width: 0px;
}

mat-list-item {
  mat-icon {
    display: none;
  }

  &.activated {
    --mdc-list-list-item-container-color: #{tokens.$color-primary-container};
    --mdc-list-list-item-label-text-color: #{tokens.$color-on-primary-container};

    img {
      opacity: 0.3;
    }
  
    mat-icon {
      position: absolute;
      width: 32px;
      height: 32px;
      font-size: 32px;
      z-index: 2;
      display: inherit;
      margin: 20px 28px;
    }
  }
}
