<section class="gachi-registration-sidebar"></section>

<section class="gachi-registration-content">
  <h1 class="headline-l">Sign up to Gachify</h1>

  <div class="gachi-registration-content-error-banner">
    <p *ngIf="usernameTaken()">Username has already been taken</p>
    <p *ngIf="emailTaken()">Email has already been taken</p>
  </div>

  <form
    [formGroup]="form"
    autocomplete="off"
  >
    <label for="username">Username</label>

    <fieldset>
      <input
        formControlName="username"
        id="username"
        type="text"
      />
    </fieldset>

    <label for="email">Email</label>

    <fieldset>
      <input
        formControlName="email"
        id="email"
        type="email"
      />
    </fieldset>

    <label for="password">Password</label>

    <fieldset>
      <input
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        id="password"
      />

      <button
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="icon"
        (click)="hide = !hide"
      >
        <i>{{ hide ? 'visibility_off' : 'visibility' }}</i>
      </button>
    </fieldset>

    <button
      [disabled]="loading()"
      class="gachi-registration-content-submit-button filled"
      (click)="handleSubmit()"
    >
      Create Account
    </button>
  </form>

  <p class="body-m">
    Already have an account?
    <a
      class="link"
      routerLink="/login"
    >
      Sign In
    </a>
  </p>
</section>
