@use 'abstracts' as abstracts;

:host {
  height: 100%;
  display: flex;
  gap: 100px;

  @include abstracts.md {
    justify-content: center;
  }
}

.gachi-registration-sidebar {
  position: relative;
  width: 460px;
  overflow: hidden;

  background: linear-gradient(0deg, rgba(var(--color-surface-rgb), 0.69), rgba(var(--color-surface-rgb), 0.69)), url(/assets/img/wrong-door.png);
  background-position: center;
  background-size: cover;

  @include abstracts.md {
    display: none;
  }
}

gachi-logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.gachi-registration-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 416px;
}

h1 {
  margin-bottom: 24px;
}

form {
  padding-top: 24px;
}

fieldset {
  margin-bottom: 24px;
}

.gachi-registration-content-submit-button {
  width: 100%;
  justify-content: center;
  margin-top: 28px;
}

p {
  text-align: center;
  margin-top: 20px;
}
