:host {
  height: 100%;
  display: flex;
}

.gachi-registration-sidebar {
  width: 460px;
}

.gachi-registration-sidebar-video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.gachi-registration-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
  max-width: 416px;
}

h1 {
  margin-bottom: 24px;
}

form {
  padding-top: 24px;
}

fieldset {
  margin-bottom: 24px;
}

.gachi-registration-content-submit-button {
  width: 100%;
  justify-content: center;
  margin-top: 28px;
}

p {
  text-align: center;
  margin-top: 20px;
}
