<h1 class="headline-l">Sign up to Gachify</h1>

<form [formGroup]="form">
  <fieldset>
    <mat-label>Username</mat-label>

    <mat-form-field>
      <input
        formControlName="username"
        matInput
        type="text"
      />

      <mat-icon
        *ngIf="form.controls.username.errors && form.controls.username.touched"
        color="error"
        matSuffix
      >
        error
      </mat-icon>

      <mat-error
        [control]="form.controls.username"
        [valid]="form.controls.username.valid"
        fieldName="Username"
        validationError
      ></mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <mat-label>Email</mat-label>

    <mat-form-field>
      <input
        formControlName="email"
        matInput
        type="text"
      />

      <mat-icon
        *ngIf="form.controls.email.errors && form.controls.email.touched"
        color="error"
        matSuffix
      >
        error
      </mat-icon>

      <mat-error
        [control]="form.controls.email"
        [valid]="form.controls.email.valid"
        fieldName="Email"
        validationError
      ></mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <mat-label>Password</mat-label>

    <mat-form-field>
      <input
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        matInput
      />

      <mat-icon
        *ngIf="form.controls.password.errors && form.controls.password.touched"
        color="error"
        matSuffix
      >
        error
      </mat-icon>

      <mat-error
        [control]="form.controls.password"
        [valid]="form.controls.password.valid"
        fieldName="Password"
        validationError
      ></mat-error>
    </mat-form-field>
  </fieldset>

  <!-- <mat-checkbox>I agree with <a>Terms of Service</a></mat-checkbox> -->

  <button
    class="submit-button"
    mat-flat-button
    (click)="handleSubmit()"
  >
    Create Account
  </button>
</form>

<p class="link">Already have an account? <a routerLink="/login"> Sign In</a></p>
