@use 'tokens' as tokens;
@use 'mixins' as mixins;

:host {
  display: flex;
  height: 100vh;
}

.media-sidebar {
  display: flex;
  align-items: flex-end;
  width: 460px;
  height: 100%;
  background: linear-gradient(0deg, rgba(tokens.$color-primary-container, 0.6), rgba(tokens.$color-primary-container, 0.6)), url(/assets/img/wrong-door.png);
  background-position: center;
  background-size: cover;

  @include mixins.md {
    display: none;
  }
}

blockquote {
  text-indent: -0.64em;
  color: tokens.$color-on-primary-container;
  quotes: "“" "”" "‘" "’";
  margin: 0 24px 64px 40px;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

main {
  height: 100%;
  flex-grow: 1;
}