// Primary
$color-primary: #FFB3AD;
$color-on-primary: #680009;
$color-primary-container: #920212;
$color-on-primary-container: #FFDAD6;
$color-primary-fixed: #FFDAD6;
$color-on-primary-fixed: #410003;
$color-primary-fixed-dim: #FFB3AD;
$color-on-primary-fixed-variant: #920212;

// Secondary
$color-secondary: #E7BDB9;
$color-on-secondary: #442927;
$color-secondary-container: #5D3F3D;
$color-on-secondary-container: #FFDAD6;
$color-secondary-fixed: #FFDAD6;
$color-on-secondary-fixed: #2C1513;
$color-secondary-fixed-dim: #E7BDB9;
$color-on-secondary-fixed-variant: #5D3F3D;

// Tertiary
$color-tertiary: #E1C28C;
$color-on-tertiary: #402D04;
$color-tertiary-container: #584419;
$color-on-tertiary-container: #FFDEA6;
$color-tertiary-fixed: #FFDEA6;
$color-on-tertiary-fixed: #261900;
$color-tertiary-fixed-dim: #E1C28C;
$color-on-tertiary-fixed-variant: #584419;

// Error
$color-error: #FFB4AB;
$color-on-error: #690005;
$color-error-container: #93000A;
$color-on-error-container: #FFDAD6;

// Outline 
$color-outline: #A08C8A;

// Background
$color-background: #201A19;
$color-on-background: #EDE0DE;

// Surface
$color-surface: #181211;
$color-on-surface: #D0C4C2;
$color-surface-variant: #534342;
$color-on-surface-variant: #D8C2BF;
$color-inverse-surface: #EDE0DE;
$color-inverse-on-surface: #201A19;
$color-inverse-primary: #B52426;
$color-shadow: #000000;
$color-surface-tint: #FFB3AD;
$color-outline-variant: #534342;
$color-scrim: #000000;
$color-surface-container-highest: #3A3332;
$color-surface-container-high: #2F2828;
$color-surface-container: #251E1D;
$color-surface-container-low: #201A19;
$color-surface-container-lowest: #120D0C;
$color-surface-bright: #3F3737;
$color-surface-dim: #181211;
