$typography-font-family: 'Noto Sans', Roboto, Helvetica, Arial, sans-serif;
$typography-font-family-variant: 'Roboto Mono', Roboto, Helvetica, Arial, monospace;

// Display hero
$typography-display-hero-size: 112px;
$typography-display-hero-line-height: 1;
$typography-display-hero-tracking: 0;
$typography-display-hero-weight: 400;

// Display XL
$typography-display-xl-size: 88px;
$typography-display-xl-line-height: 96px;
$typography-display-xl-tracking: 0;
$typography-display-xl-weight: 400;

// Display L
$typography-display-l-size: 57px;
$typography-display-l-line-height: 64px;
$typography-display-l-tracking: 0;
$typography-display-l-weight: 400;

// Display M
$typography-display-m-size: 45px;
$typography-display-m-line-height: 52px;
$typography-display-m-tracking: 0;
$typography-display-m-weight: 500;

// Display S
$typography-display-s-size: 36px;
$typography-display-s-line-height: 44px;
$typography-display-s-tracking: 0;
$typography-display-s-weight: 400;

// Headline L
$typography-headline-l-size: 32px;
$typography-headline-l-line-height: 40px;
$typography-headline-l-tracking: 0;
$typography-headline-l-weight: 400;

// Headline M
$typography-headline-m-size: 28px;
$typography-headline-m-line-height: 1.28;
$typography-headline-m-tracking: 0;
$typography-headline-m-weight: 400;

// Headline S
$typography-headline-s-size: 24px;
$typography-headline-s-line-height: 32px;
$typography-headline-s-tracking: 0;
$typography-headline-s-weight: 400;

// Title L
$typography-title-l-size: 22px;
$typography-title-l-line-height: 1.28;
$typography-title-l-tracking: 0;
$typography-title-l-weight: 400;

// Title M
$typography-title-m-size: 16px;
$typography-title-m-line-height: 1.5;
$typography-title-m-tracking: 0;
$typography-title-m-weight: 500;

// Title S
$typography-title-s-size: 14px;
$typography-title-s-line-height: 1.43;
$typography-title-s-tracking: 0;
$typography-title-s-weight: 500;

// Label L
$typography-label-l-size: 14px;
$typography-label-l-line-height: 1.45;
$typography-label-l-tracking: 0.5px;
$typography-label-l-weight: 500;

// Label M
$typography-label-m-size: 12px;
$typography-label-m-line-height: 1.3;
$typography-label-m-tracking: 0.5px;
$typography-label-m-weight: 500;

// Label S
$typography-label-s-size: 11px;
$typography-label-s-line-height: 1.45;
$typography-label-s-tracking: 0.5px;
$typography-label-s-weight: 500;

// Body L
$typography-body-l-size: 16px;
$typography-body-l-line-height: 24px;
$typography-body-l-tracking: 0;
$typography-body-l-weight: 400;

// Body M
$typography-body-m-size: 14px;
$typography-body-m-line-height: 20px;
$typography-body-m-tracking: 0;
$typography-body-m-weight: 400;

// Body S
$typography-body-s-size: 12px;
$typography-body-s-line-height: 16px;
$typography-body-s-tracking: 0.1px;
$typography-body-s-weight: 400;
