@use 'mixins' as mixins;

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 416px;
  padding: 0 64px;
  margin-left: 96px;

  @include mixins.lg {
    margin: 0;
  }

  @include mixins.md {
    margin: auto;
  }
}
