@use 'tokens' as tokens;

:host {
  display: flex;
  gap: 48px;
  align-items: center;
}

img {
  object-fit: cover;
  border-radius: tokens.$corner-medium;
}

.metadata {
  h1 {
    margin-bottom: 8px;
  }
}