:host {
  display: grid;
  grid-template-columns: 16fr 9fr;
  padding: 64px 96px;

  // min-width: 1578px
  // padding: 48px 64px;

  // (min-width: 1364px) and (max-width: 1577px)
  // padding: 40px 56px;

  // (min-width: 1150px) and (max-width: 1363px)
  // padding: 32px 56px;

  // (min-width: 936px) and (max-width: 1149px)
  // padding: 24px 48px;
}
