:host {
  display: grid;
  grid-template-columns: 16fr 9fr;
  padding: 64px 96px;
}

// @media (min-width: 936px) and (max-width: 1149px) {
//   ytmusic-player-page {
//     --ytmusic-player-page-vertical-padding: 24px;
//     --ytmusic-player-page-horizontal-padding: 48px;
//     --ytmusic-player-page-content-gap: 48px;
//     --ytmusic-player-page-side-panel-width: 40%;
//   }
// }

// @media (min-width: 1150px) and (max-width: 1363px) {
//   ytmusic-player-page {
//     --ytmusic-player-page-vertical-padding: 32px;
//     --ytmusic-player-page-horizontal-padding: 56px;
//     --ytmusic-player-page-content-gap: 56px;
//     --ytmusic-player-page-side-panel-width: 36%;
//   }
// }

// @media (min-width: 1364px) and (max-width: 1577px) {
//   ytmusic-player-page {
//     --ytmusic-player-page-vertical-padding: 40px;
//     --ytmusic-player-page-horizontal-padding: 56px;
//     --ytmusic-player-page-content-gap: 56px;
//     --ytmusic-player-page-side-panel-width: 36%;
//   }
// }

// @media (min-width: 1578px) {
//   ytmusic-player-page {
//     --ytmusic-player-page-vertical-padding: 48px;
//     --ytmusic-player-page-horizontal-padding: 64px;
//     --ytmusic-player-page-content-gap: 64px;
//     --ytmusic-player-page-side-panel-width: 36%;
//   }
// }

// // full
// @media (min-width: 616px) and (max-width: 935px) {
//   ytmusic-player-page {
//     --ytmusic-player-page-vertical-padding: 16px;
//     --ytmusic-player-page-horizontal-padding: 32px;
//     --ytmusic-player-page-content-gap: 64px;
//     --ytmusic-player-page-side-panel-width: 100%;
//   }
// }

// // micro
// @media (max-width: 615px) {
//   ytmusic-player-page {
//     --ytmusic-player-page-vertical-padding: 24px;
//     --ytmusic-player-page-horizontal-padding: 0px;
//     --ytmusic-player-page-content-gap: 32px;
//     --ytmusic-player-page-side-panel-width: 100%;
//   }
// }
