<table class="gachi-playlist-details-remixes-table">
  <thead>
    <tr>
      <th class="gachi-playlist-details-remixes-table-index-column">#</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Original</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @for (remix of remixes; track remix.id; let idx = $index) {
      <tr>
        <td class="gachi-playlist-details-remixes-table-index-column">{{ idx + 1 }}</td>

        <td class="body-l gachi-playlist-details-remixes-table-title-column">
          <img
            [src]="remix.images[0].url"
            alt=""
            height="56"
            width="56"
          />
          {{ remix.title }}
        </td>

        <td class="body-m">{{ remix.artist.name }}</td>

        <td class="gachi-playlist-details-remixes-table-original-column body-m truncate">
          Король и Шут - Танец Злобного Гения
        </td>

        <td class="gachi-playlist-details-remixes-table-duration-column body-m">{{ remix.duration | duration }}</td>

        <td class="gachi-playlist-details-remixes-table-action-column">
          <i>more_vert</i>
        </td>
      </tr>
    } @empty {
      <tr>
        There are no items.
      </tr>
    }
  </tbody>
</table>
