.gachi-playlist-details-remixes-table {
  width: 100%;
  border-spacing: 0;

  th,
  td {
    text-align: left;
    padding: 0 16px;
  }

  thead {
    height: 56px;
  }

  tbody tr {
    height: 72px;
    padding: 8px 0;
  }

  tbody tr:hover {
    background-color: var(--color-text-disabled);
  }

  .gachi-playlist-details-remixes-table-index-column {
    text-align: center;
  }

  .gachi-playlist-details-remixes-table-duration-column {
    text-align: right;
    width: 0;
    min-width: fit-content;
  }

  .gachi-playlist-details-remixes-table-action-column {
    text-align: right;
  }
}

.gachi-playlist-details-remixes-table-title-column {
  display: flex;
  align-items: center;
  height: 72px;
  gap: 16px;

  img {
    border-radius: var(--shape-small);
  }
}

.gachi-playlist-details-remixes-table-original-column {
  width: 320px;
}

