<!-- <button class="i">
  <i>shuffle</i>
</button> -->
<!-- shuffle_on -->

<button
  [disabled]="playlist()?.songs?.length === 1"
  mat-icon-button
  (click)="handleSkipPrevious()"
>
  <mat-icon>skip_previous</mat-icon>
</button>

<gachi-play-button
  [status]="status()"
  (click)="handleTogglePlay()"
/>

<button
  [disabled]="playlist()?.songs?.length === 1"
  mat-icon-button
  (click)="handleSkipNext()"
>
  <mat-icon>skip_next</mat-icon>
</button>

<button
  [ngClass]="{ inactive: !repeat() }"
  mat-icon-button
  (click)="handleToggleRepeat()"
>
  <ng-container [ngSwitch]="repeat()">
    <mat-icon
      *ngSwitchCase="repeatOption.None"
      class="inactive"
    >
      repeat
    </mat-icon>

    <mat-icon *ngSwitchCase="repeatOption.All">repeat</mat-icon>

    <mat-icon *ngSwitchCase="repeatOption.Single">repeat_one</mat-icon>
  </ng-container>
</button>
