<button
  [ngClass]="{ inactive: !shuffle() }"
  mat-icon-button
  (click)="handleToggleShuffle()"
>
  <mat-icon>shuffle</mat-icon>
</button>

<button
  [disabled]="!hasPreviousSong()"
  mat-icon-button
  (click)="handleSkipPrevious()"
>
  <mat-icon>skip_previous</mat-icon>
</button>

<gachi-play-button
  [status]="status()"
  (click)="handleTogglePlay()"
/>

<button
  [disabled]="!hasNextSong()"
  mat-icon-button
  (click)="handleSkipNext()"
>
  <mat-icon>skip_next</mat-icon>
</button>

<button
  [ngClass]="{ inactive: !repeat() }"
  mat-icon-button
  (click)="handleToggleRepeat()"
>
  <ng-container [ngSwitch]="repeat()">
    <mat-icon
      *ngSwitchCase="repeatOption.None"
      class="inactive"
    >
      repeat
    </mat-icon>

    <mat-icon *ngSwitchCase="repeatOption.All">repeat</mat-icon>

    <mat-icon *ngSwitchCase="repeatOption.Single">repeat_one</mat-icon>
  </ng-container>
</button>
