<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button
      disabled
      mat-button
    >
      Disabled
    </button>
  </div>
</section>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button
      disabled
      mat-raised-button
    >
      Disabled
    </button>
  </div>
</section>

<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button
      disabled
      mat-stroked-button
    >
      Disabled
    </button>
  </div>
</section>

<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button
      disabled
      mat-flat-button
    >
      Disabled
    </button>
  </div>
</section>
