<section>
  <mat-slider
    class="hide-thumb"
    max="100"
    min="0"
    step="1"
  >
    <input matSliderThumb />
  </mat-slider>
</section>

<section>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input
        matInput
        placeholder="Placeholder"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input
        matInput
        placeholder="Placeholder"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</section>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button
      disabled
      mat-button
    >
      Disabled
    </button>
  </div>
</section>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button
      disabled
      mat-raised-button
    >
      Disabled
    </button>
  </div>
</section>

<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button
      disabled
      mat-stroked-button
    >
      Disabled
    </button>
  </div>
</section>

<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button
      disabled
      mat-flat-button
    >
      Disabled
    </button>
  </div>
</section>
