<mat-dialog-content>
  <form [formGroup]="form">
    <fieldset>
      <mat-label>Video link</mat-label>

      <mat-form-field>
        <input
          formControlName="videoUrl"
          matInput
          type="text"
        />

        <mat-icon
          *ngIf="form.controls.videoUrl.errors && form.controls.videoUrl.touched"
          color="error"
          matSuffix
        >
          error
        </mat-icon>

        <mat-error
          [control]="form.controls.videoUrl"
          [valid]="form.controls.videoUrl.valid"
          fieldName="Video link"
          validationError
        ></mat-error>
      </mat-form-field>
    </fieldset>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    [disabled]="uploading()"
    mat-button
    mat-dialog-close
  >
    Cancel
  </button>

  <button
    [disabled]="uploading()"
    mat-flat-button
    (click)="handleSubmit()"
  >
    Upload
  </button>
</mat-dialog-actions>
