@use 'tokens' as tokens;

:host {
  display: flex;
  flex-direction: column;
}

gachi-song-list-item:first-child {
  border-top-color: transparent;
}

gachi-song-list-item:hover {
  & + gachi-song-list-item {
    border-top-color: transparent;
  }
}

gachi-song-list-item.active {
  & + gachi-song-list-item {
    border-top-color: transparent;
  }
}
