@use 'tokens' as tokens;
@use 'mixins' as mixins;

article {
  cursor: pointer;
  padding: 16px;
  background: linear-gradient(tokens.$color-surface-container-high, 69%, tokens.$color-surface);
  border-radius: tokens.$corner-medium;

  &:hover {
    background: linear-gradient(tokens.$color-surface-container-highest, 69%, tokens.$color-surface);  
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 8px;
  position: inherit !important;
}

span {
  color: tokens.$color-on-surface-variant;
}
