@import '../tokens';

@mixin display-hero {
  font-size: $typography-display-hero-size;
  line-height: $typography-display-hero-line-height;
  font-weight: $typography-display-hero-weight;
  letter-spacing: $typography-display-hero-tracking;
}

@mixin display-xl {
  font-size: $typography-display-xl-size;
  line-height: $typography-display-xl-line-height;
  font-weight: $typography-display-xl-weight;
  letter-spacing: $typography-display-xl-tracking;
}

@mixin display-l {
  font-size: $typography-display-l-size;
  line-height: $typography-display-l-line-height;
  font-weight: $typography-display-l-weight;
  letter-spacing: $typography-display-l-tracking;
}

@mixin display-m {
  font-size: $typography-display-m-size;
  line-height: $typography-display-m-line-height;
  font-weight: $typography-display-m-weight;
  letter-spacing: $typography-display-m-tracking;
}

@mixin display-s {
  font-size: $typography-display-s-size;
  line-height: $typography-display-s-line-height;
  font-weight: $typography-display-s-weight;
  letter-spacing: $typography-display-s-tracking;
}

@mixin headline-l {
  font-size: $typography-headline-l-size;
  line-height: $typography-headline-l-line-height;
  font-weight: $typography-headline-l-weight;
  letter-spacing: $typography-headline-l-tracking;
}

@mixin headline-m {
  font-size: $typography-headline-m-size;
  line-height: $typography-headline-m-line-height;
  font-weight: $typography-headline-m-weight;
  letter-spacing: $typography-headline-m-tracking;
}

@mixin headline-s {
  font-size: $typography-headline-s-size;
  line-height: $typography-headline-s-line-height;
  font-weight: $typography-headline-s-weight;
  letter-spacing: $typography-headline-s-tracking;
}

@mixin title-l {
  font-size: $typography-title-l-size;
  line-height: $typography-title-l-line-height;
  font-weight: $typography-title-l-weight;
  letter-spacing: $typography-title-l-tracking;
}

@mixin title-m {
  font-size: $typography-title-m-size;
  line-height: $typography-title-m-line-height;
  font-weight: $typography-title-m-weight;
  letter-spacing: $typography-title-m-tracking;
}

@mixin title-s {
  font-size: $typography-title-s-size;
  line-height: $typography-title-s-line-height;
  font-weight: $typography-title-s-weight;
  letter-spacing: $typography-title-s-tracking;
}

@mixin label-l {
  font-size: $typography-label-l-size;
  line-height: $typography-label-l-line-height;
  font-weight: $typography-label-l-weight;
  letter-spacing: $typography-label-l-tracking;
  font-family: $typography-font-family-variant;
}

@mixin label-m {
  font-size: $typography-label-m-size;
  line-height: $typography-label-m-line-height;
  font-weight: $typography-label-m-weight;
  letter-spacing: $typography-label-m-tracking;
  font-family: $typography-font-family-variant;
}

@mixin label-s {
  font-size: $typography-label-s-size;
  line-height: $typography-label-s-line-height;
  font-weight: $typography-label-s-weight;
  letter-spacing: $typography-label-s-tracking;
  font-family: $typography-font-family-variant;
}

@mixin body-l {
  font-size: $typography-body-l-size;
  line-height: $typography-body-l-line-height;
  font-weight: $typography-body-l-weight;
  letter-spacing: $typography-body-l-tracking;
}

@mixin body-m {
  font-size: $typography-body-m-size;
  line-height: $typography-body-m-line-height;
  font-weight: $typography-body-m-weight;
  letter-spacing: $typography-body-m-tracking;
}

@mixin body-s {
  font-size: $typography-body-s-size;
  line-height: $typography-body-s-line-height;
  font-weight: $typography-body-s-weight;
  letter-spacing: $typography-body-s-tracking;
}
