<nav>
  <ul>
    <li
      #home="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!home.isActive">home</mat-icon>
      Home
    </li>

    <li
      #songs="routerLinkActive"
      routerLink="/songs"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!songs.isActive">music_note</mat-icon>
      Songs
    </li>

    <li
      #artists="routerLinkActive"
      disabled
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!artists.isActive">person</mat-icon>
      Artists
    </li>

    <li
      #library="routerLinkActive"
      routerLink="/library"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!library.isActive">library_music</mat-icon>
      Library
    </li>
  </ul>

  <gachi-playlist-quick-panel />
</nav>

<header>
  <div
    class="logo"
    routerLink=""
  >
    <img
      alt=""
      height="28"
      src="/assets/svg/male-symbol.svg"
      width="28"
    />
    <h1>{{ applicationName }}</h1>
  </div>
</header>

<gachi-player />

<main [ngClass]="{ extend: isActive$ | async }">
  <router-outlet></router-outlet>
</main>
