<nav>
  <ul>
    <li
      #home="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!home.isActive">home</mat-icon>
      Home
    </li>

    <li
      #search="routerLinkActive"
      routerLink="/explore"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!search.isActive">search</mat-icon>
      Explore
    </li>

    <li
      #library="routerLinkActive"
      routerLink="/library"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!library.isActive">library_music</mat-icon>
      Library
    </li>
  </ul>
</nav>

<header>
  <div
    class="logo"
    routerLink=""
  >
    <img
      alt=""
      height="28px"
      src="/assets/svg/male-symbol.svg"
    />
    <h1>{{ applicationName }}</h1>
  </div>
</header>

<gachi-player />

<main>
  <router-outlet></router-outlet>
</main>
