<nav>
  <ul>
    <li
      #home="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!home.isActive">home</mat-icon>
      Home
    </li>
    <li
      #search="routerLinkActive"
      routerLink="/search"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!search.isActive">search</mat-icon>
      Search
    </li>
    <li
      #playlist="routerLinkActive"
      routerLink="/playlists"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!playlist.isActive">queue_music</mat-icon>
      Playlists
    </li>
    <li
      #songs="routerLinkActive"
      routerLink="/songs"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!songs.isActive">music_note</mat-icon>
      Songs
    </li>
    <li
      #genres="routerLinkActive"
      routerLink="/genres"
      routerLinkActive="active"
    >
      <mat-icon [outlined]="!genres.isActive">library_music</mat-icon>
      Genres
    </li>
  </ul>
</nav>

<header>
  <a routerLink="">
    <img
      alt=""
      height="28px"
      src="/assets/svg/male-symbol.svg"
    />
    <h1>{{ applicationName }}</h1>
  </a>
</header>

<main>
  <router-outlet></router-outlet>
</main>
